In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [2]:
csv_file = "Electric_Vehicle_Title_and_Registration_Activity.csv"
reg_df = pd.read_csv(csv_file)
reg_df.head()

,Clean Alternative Fuel Vehicle Type,VIN (1-10),Model Year,Make,Model,New or Used Vehicle,Sale Price,DOL Transaction Date,Transaction Type,Transaction Year,...,Legislative District,2019 HB 2042 Clean Alternative Fuel Vehicle (CAFV) Eligibility,Meets 2019 HB 2042 Electric Range Requirement,Meets 2019 HB 2042 Sale Date Requirement,Meets 2019 HB 2042 Sale Price/Value Requirement,Odometer Reading,Odometer Code,Transportation Electrification Fee Paid,Hybrid Vehicle Electrification Fee Paid,2020 Census Tract
0,Battery Electric Vehicle (BEV),WMWXP3C0XM,2021,MINI,Hardtop,Used,0,August 04 2022,Registration Renewal,2022,...,45.0,"TRANSACTION NOT ELIGIBLE: Non-sale, registrati...",True,False,False,0,Odometer reading is not collected at time of r...,Yes,No,5.303302e+10
1,Plug-in Hybrid Electric Vehicle (PHEV),KNDCM3LD1J,2018,KIA,Niro,Used,0,November 19 2021,Registration Renewal,2021,...,36.0,VEHICLE MODEL NOT ELIGIBLE: Low battery range;...,False,False,False,0,Odometer reading is not collected at time of r...,No,Yes,5.303300e+10
2,Plug-in Hybrid Electric Vehicle (PHEV),KNDCM3LD1J,2018,KIA,Niro,New,26999,December 31 2018,Original Title,2018,...,36.0,VEHICLE MODEL NOT ELIGIBLE: Low battery range;...,False,False,True,17,Actual Mileage,Not Applicable,Not Applicable,5.303300e+10
3,Plug-in Hybrid Electric Vehicle (PHEV),KNDCM3LD1J,2018,KIA,Niro,New,0,December 31 2018,Original Registration,2018,...,36.0,VEHICLE MODEL NOT ELIGIBLE: Low battery range;...,False,False,False,0,Odometer reading is not collected at time of r...,No,No,5.303300e+10
4,Plug-in Hybrid Electric Vehicle (PHEV),KNDCM3LD1J,2018,KIA,Niro,Used,0,December 23 2019,Registration Renewal,2019,...,36.0,VEHICLE MODEL NOT ELIGIBLE: Low battery range;...,False,False,False,0,Odometer reading is not collected at time of r...,No,Yes,5.303300e+10

In [3]:
reg_data_df = reg_df[['VIN (1-10)', 'Model Year', 'Make', 'Model', 'County', 'City', 'Postal Code']].copy()
reg_data_df.head()

   VIN (1-10)  Model Year  Make    Model County         City  Postal Code
0  WMWXP3C0XM        2021  MINI  Hardtop   King  WOODINVILLE      98072.0
1  KNDCM3LD1J        2018   KIA     Niro   King      SEATTLE      98103.0
2  KNDCM3LD1J        2018   KIA     Niro   King      SEATTLE      98103.0
3  KNDCM3LD1J        2018   KIA     Niro   King      SEATTLE      98103.0
4  KNDCM3LD1J        2018   KIA     Niro   King      SEATTLE      98103.0

In [4]:
csv_file = "Electric_Vehicle_Population_Size_History_By_County.csv"
pop_df = pd.read_csv(csv_file)
pop_df.head()

,Date,County,State,Vehicle Primary Use,Battery Electric Vehicles (BEVs),Plug-In Hybrid Electric Vehicles (PHEVs),Electric Vehicle (EV) Total,Non-Electric Vehicle Total,Total Vehicles,Percent Electric Vehicles
0,January 31 2017,Juneau,AK,Passenger,0,1,1,57,58,1.72
1,January 31 2017,Dale,AL,Passenger,0,1,1,66,67,1.49
2,January 31 2017,Lee,AL,Passenger,1,0,1,37,38,2.63
3,January 31 2017,Maricopa,AZ,Passenger,3,1,4,1935,1939,0.21
4,January 31 2017,Pima,AZ,Passenger,0,2,2,454,456,0.44

In [5]:
# pop_df.drop(pop_df.index[pop_df['State'] != 'WA'], inplace=True)
# pop_df[pop_df['State'] != 'WA']
wadp = pop_df.loc[pop_df["State"] == 'WA']
wadp

,Date,County,State,Vehicle Primary Use,Battery Electric Vehicles (BEVs),Plug-In Hybrid Electric Vehicles (PHEVs),Electric Vehicle (EV) Total,Non-Electric Vehicle Total,Total Vehicles,Percent Electric Vehicles
111,January 31 2017,Adams,WA,Truck,0,0,0,5076,5076,0.00
112,January 31 2017,Adams,WA,Passenger,1,1,2,12176,12178,0.02
113,January 31 2017,Asotin,WA,Passenger,4,3,7,12320,12327,0.06
114,January 31 2017,Asotin,WA,Truck,0,0,0,6490,6490,0.00
115,January 31 2017,Benton,WA,Truck,0,0,0,39815,39815,0.00
...,...,...,...,...,...,...,...,...,...,...
15348,October 31 2022,Whatcom,WA,Passenger,1950,767,2717,144851,147568,1.84
15349,October 31 2022,Whitman,WA,Passenger,101,61,162,21373,21535,0.75
15350,October 31 2022,Whitman,WA,Truck,3,0,3,8408,8411,0.04
15351,October 31 2022,Yakima,WA,Truck,5,0,5,59263,59268,0.01
15352,October 31 2022,Yakima,WA,Passenger,383,209,592,161549,162141,0.37

In [6]:
pop_data_df = wadp[['County', 'Battery Electric Vehicles (BEVs)', 'Plug-In Hybrid Electric Vehicles (PHEVs)', 'Non-Electric Vehicle Total']].copy()
pop_data_df.head()

,County,Battery Electric Vehicles (BEVs),Plug-In Hybrid Electric Vehicles (PHEVs),Non-Electric Vehicle Total
111,Adams,0,0,5076
112,Adams,1,1,12176
113,Asotin,4,3,12320
114,Asotin,0,0,6490
115,Benton,0,0,39815

In [7]:
merge_df = pd.merge(reg_data_df, pop_data_df, on='County', how='outer')
merge_df.rename(columns = {'Postal Code':'ZIP'}, inplace = True)
merge_df.head()

,VIN (1-10),Model Year,Make,Model,County,City,ZIP,Battery Electric Vehicles (BEVs),Plug-In Hybrid Electric Vehicles (PHEVs),Non-Electric Vehicle Total
0,WMWXP3C0XM,2021,MINI,Hardtop,King,WOODINVILLE,98072.0,8805.0,3626.0,1387685.0
1,WMWXP3C0XM,2021,MINI,Hardtop,King,WOODINVILLE,98072.0,8.0,1.0,191123.0
2,WMWXP3C0XM,2021,MINI,Hardtop,King,WOODINVILLE,98072.0,8.0,1.0,190538.0
3,WMWXP3C0XM,2021,MINI,Hardtop,King,WOODINVILLE,98072.0,9099.0,3718.0,1385576.0
4,WMWXP3C0XM,2021,MINI,Hardtop,King,WOODINVILLE,98072.0,9318.0,3793.0,1383067.0

In [8]:
merge2_df = merge_df.drop(['VIN (1-10)', 'Model Year', 'Make', 'Model'], axis=1)
merge2_df.head()

,County,City,ZIP,Battery Electric Vehicles (BEVs),Plug-In Hybrid Electric Vehicles (PHEVs),Non-Electric Vehicle Total
0,King,WOODINVILLE,98072.0,8805.0,3626.0,1387685.0
1,King,WOODINVILLE,98072.0,8.0,1.0,191123.0
2,King,WOODINVILLE,98072.0,8.0,1.0,190538.0
3,King,WOODINVILLE,98072.0,9099.0,3718.0,1385576.0
4,King,WOODINVILLE,98072.0,9318.0,3793.0,1383067.0

In [9]:
import quandl
import pandas as pd
import pymongo
from pymongo import MongoClient

In [ ]:
# # Making a Connection with MongoClient
# # mongodb://localhost:27017
# client = MongoClient("mongodb://localhost:27017/")
# # database
# db = client["electric_vehicle"]
# # collection
# company= db["washington"]

In [10]:
# The default port used by MongoDB is 27017
# https://docs.mongodb.com/manual/reference/default-mongodb-port/
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Declare the database
db = client['vehicle']

# Declare the collection
collection = db['county']

In [11]:
merge2_df.set_index("County", drop=True, inplace=True)
#dictionary = merge2-df.to_dict(orient="index")

In [12]:
# data.rest_index(inplace=True)
#Data_dictionary = data.to_dict('merge2_df')
dictionary = merge2-df.to_dict(orient="index")

NameError: name 'merge2' is not defined